services:
  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=chatport
      - POSTGRES_PASSWORD=chatport
      - POSTGRES_DB=chatport
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
    driver: local